
<!-- Footer -->

<footer class="py-4 text-white text-center" style="background-color: rgb(8, 8, 8); font-family: Montserrat, sans-serif;">
    <div class="container">
        <div class="row">
            <div class="col">
                <a style="font-size: 18px;" class="mr-2 text-white" href=" {% url 'about' %} ">About</a>
                <a style="font-size: 18px;" class="mr-2 text-white"  href=" {% url 'contact' %} ">Contact</a>
            </div>
            <div class="col">
                <a style="font-size: 18px;" class="mr-2 text-white" href="">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                 <a style="font-size: 18px;" class="mr-2 text-white" href="">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>
        </div>
        <hr style="background-color: #fff;">
        <div class="row justify-content-center">
            <div class="col">
                &copy; Copyright
                <span class="year "></span> 
                by <span style="color:#129fb4; font-weight: 800; "> BBV </span>
                | All Rights Reserved
            </div>
        </div>
    </div>
</footer>

