{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Single Video Page -->
<div class="container p-5">
    <div class="row justify-content-around">
        <div class="col-md  col-lg-3" data-aos="fade-right">
            <h3 class="mb-3">Category</h3>
                {% for category in video.category.all %}
                        <span class="badge alert  alert-info"> {{category}} </span>
                {% endfor %}
            <hr>
            <h3>Date Created</h3>
            <p> {{video.date_created}} </p>
            <a href="{% url 'play' video.id  %}" class="btn btn-danger mb-2" >Watch Now</a>
        </div>
        <div class="col-md col-lg-9" data-aos="fade-down" >
            <img src="{{video.thumb.url}}" class="img-fluid mb-4" alt="">
            <h1 class="mb-3"> {{video.name}} </h1>
            <a href=" {% url 'author' video.author.id %}  ">
                <p class="card-text text-info mb-2" style="font-style: italic;"> By {{video.author.name}} </p>
            </a>
            <p> {{video.desciption}} </p>
        </div>
    </div>
</div>
{% endblock %}