{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main Videos Page -->

   <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col" data-aos="fade-down">
                    <h1 style="font-size: 50px; text-align: center;">Videos</h1>
                    <form action=" {% url 'search' %} " method="get">
                        <div class="form-group">
                            <div class="input-group m-3" style="font-family: Montserrat,sans-serif;">
                                <input type="text" class="form-control p-4" name="search_query" value="" placeholder="Search Videos">
                                <div class="input-group-append">
                                    <input type="submit" value="Search" class="btn btn-lg btn-info">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 m-3">
        {% if videos %}
            {% for video in videos %}
                <div class="col mb-4" data-aos="fade-down">
                    <div class="card h-100">
                        <img src=" {{video.thumb.url}} " alt="...">
                        <div class="card-body">
                            <h4 class="card-title"> {{video.name}} </h4>
                            <a href=" {% url 'author' video.author.id %} ">
                                <p class="card-text text-info mb-2" style="font-style: italic;"> By {{video.author.name}} </p>
                            </a>
                            {% for category in video.category.all %}
                                <span class="badge alert alert-info"> {{category}} </span>
                            {% endfor %}
                            <br>
                            <a href=" {% url 'video' video.id %} " class="btn btn-info">Watch Now </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-12">
                <p>No Videos</p>
                <p> Stay Tuned </p>
            </div>
        {% endif %}
    </div>
    <div class="row m-3">
        <div class="col-md">
            {% if videos.has_other_pages  %}
                <ul class="pagination  justify-content-center">
                    {% if videos.has_previous %}
                        <li class="page-item">
                            <a class="page-link alert-info" href="?page={{videos.previous_page_number}}">&lt;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">&lt;</a>
                        </li>
                    {% endif %}

                    {% for i in videos.paginator.page_range %}
                        {% if videos.number == i %}
                            <li class="page-item active">
                                <a class="page-link bg-info text-light  mr-2 px-3" > {{i}} </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link alert-info  mr-2 px-3" href="?page={{i}} "> {{i}} </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if videos.has_next %}
                        <li class="page-item">
                            <a class="page-link alert-info" href="?page={{videos.next_page_number}}">&gt;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">&gt;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}



